*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    font-size: 62.5%;
    height: 100%;
}

.container{
    width: 40%;
    height: 80%;
    background-color: yellow;
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

header{
    padding: 2rem;
    
}

footer{    
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: .1rem solid black;
}

h1{
    text-align: center;
    font-size: 5rem;
}

h2{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}

main{
    flex: 2;
    display: flex; 
    padding: 2rem;  
}

.goku-info{
    flex: 2;
    display: flex;
    flex-flow: column;
}

.goku{
    flex: 10;
    background-image: url(./assets/goku.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice p{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.health-bar{
    flex: 1;
    border: .1rem solid black;
    margin: 0.5rem 0;
    background: linear-gradient(to right, rgb(0, 255, 13) 0%, rgb(0, 255, 13) 50%, rgb(0, 255, 13) 51%, rgb(0, 255, 13) 100%);
}

.vs{
    flex: 1;
    background-image: url(./assets/competition.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1rem;
}

.vegeta-info{
    flex: 2;
    display: flex;
    flex-flow: column;
}

.vegeta{
    flex: 10;
    background-image: url(./assets/vegeta.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

.buttons{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

button{
    width: 10rem;
    font-size: 5rem;
    cursor: pointer;
}